In [1]:
import pandas as pd
import os
from datetime import datetime as dt

In [2]:
#change to payroll teams documents folder, note that this needs to be synched to your directory for this to work
os.chdir(r"C:\Users\alex.jefferies\Leighs Construction Limited\People and Culture - 11 Payroll - People Dashboard Data Sources")

In [3]:
#helper functions
def time_convert(atime):
    newtime = dt.fromtimestamp(atime)
    return newtime.date()

def create_file_records(somepath) -> dict:
    #dictionary
    firstDict = {}
    
    for name in os.listdir(somepath): 

        if ".xlsx" in name:
    
            filepath = os.path.join(somepath, name)
            
            #main library that holds stats
            stats = os.stat(filepath)
            
            attrs = {
                'File Name': name,
                #'Size (KB)': sizeFormat(stats.st_size),
                'Creation Date': time_convert(stats.st_ctime),
                'Modified Date': time_convert(stats.st_mtime),
                'Last Access Date': time_convert(stats.st_atime),
                
            }
           
            firstDict[name] = attrs 

    return firstDict 

def view_records(file_records) -> None:
    
    for key, value in file_records.items():
            
        for k,v in value.items():
            print(f"{k}: {v}")
        print()

def get_info(df:pd.DataFrame):
    print("="*50)
    print(df.shape)
    print(df.head())
    print()
    print(df.info())
    print()
    print("="*50)

In [4]:
current_path = os.getcwd()
subdirs = [os.path.join(current_path, d) for d in os.listdir(current_path) if os.path.isdir(os.path.join(current_path, d))]

# Sort the subdirectories by their creation time in descending order
sorted_subdirs = sorted(subdirs, key=os.path.getctime, reverse=True)

# Get the latest subdirectory
latest_subdir = sorted_subdirs[0]
os.chdir(latest_subdir)

In [6]:
!dir

 Volume in drive C is Windows
 Volume Serial Number is 9841-01DE

 Directory of C:\Users\alex.jefferies\Leighs Construction Limited\People and Culture - 11 Payroll - People Dashboard Data Sources\240301

03/01/2024  09:03 AM    <DIR>          .
03/04/2024  08:10 AM    <DIR>          ..
03/01/2024  08:41 AM          (19,630) NorthSalaries DataForAlex.xlsx
03/01/2024  09:08 AM          (29,902) NorthSalaries TerminationDataForAlex.xlsx
03/01/2024  09:11 AM          (19,396) NorthWages DataForAlex.xlsx
03/01/2024  09:11 AM          (22,661) NorthWages TerminationDataForAlex.xlsx
03/01/2024  09:00 AM          (21,907) SouthSalaries DataForAlex.xlsx
03/01/2024  09:09 AM          (30,303) SouthSalaries TerminationDataForAlex.xlsx
03/01/2024  09:05 AM          (19,941) SouthWages DataForAlex.xlsx
03/01/2024  09:10 AM          (47,764) SouthWages TerminationDataForAlex.xlsx
               8 File(s)        211,504 bytes
               2 Dir(s)  904,694,218,752 bytes free

### Directory sorting and filtering

In [7]:
file_records = create_file_records(latest_subdir)

In [8]:
view_records(file_records)

File Name: NorthSalaries DataForAlex.xlsx
Creation Date: 2024-03-01
Modified Date: 2024-03-01
Last Access Date: 2024-03-04

File Name: NorthSalaries TerminationDataForAlex.xlsx
Creation Date: 2024-03-01
Modified Date: 2024-03-01
Last Access Date: 2024-03-04

File Name: NorthWages DataForAlex.xlsx
Creation Date: 2024-03-01
Modified Date: 2024-03-01
Last Access Date: 2024-03-01

File Name: NorthWages TerminationDataForAlex.xlsx
Creation Date: 2024-03-01
Modified Date: 2024-03-01
Last Access Date: 2024-03-01

File Name: SouthSalaries DataForAlex.xlsx
Creation Date: 2024-03-01
Modified Date: 2024-03-01
Last Access Date: 2024-03-01

File Name: SouthSalaries TerminationDataForAlex.xlsx
Creation Date: 2024-03-01
Modified Date: 2024-03-01
Last Access Date: 2024-03-01

File Name: SouthWages DataForAlex.xlsx
Creation Date: 2024-03-01
Modified Date: 2024-03-01
Last Access Date: 2024-03-01

File Name: SouthWages TerminationDataForAlex.xlsx
Creation Date: 2024-03-01
Modified Date: 2024-03-01
Last Access Date: 2024-03-01

In [10]:
#returning the 8 most recent records in file records
most_recent_records = file_records.values()
most_recent_records

dict_values([{'File Name': 'NorthSalaries DataForAlex.xlsx', 'Creation Date': datetime.date(2024, 3, 1), 'Modified Date': datetime.date(2024, 3, 1), 'Last Access Date': datetime.date(2024, 3, 4)}, {'File Name': 'NorthSalaries TerminationDataForAlex.xlsx', 'Creation Date': datetime.date(2024, 3, 1), 'Modified Date': datetime.date(2024, 3, 1), 'Last Access Date': datetime.date(2024, 3, 4)}, {'File Name': 'NorthWages DataForAlex.xlsx', 'Creation Date': datetime.date(2024, 3, 1), 'Modified Date': datetime.date(2024, 3, 1), 'Last Access Date': datetime.date(2024, 3, 1)}, {'File Name': 'NorthWages TerminationDataForAlex.xlsx', 'Creation Date': datetime.date(2024, 3, 1), 'Modified Date': datetime.date(2024, 3, 1), 'Last Access Date': datetime.date(2024, 3, 1)}, {'File Name': 'SouthSalaries DataForAlex.xlsx', 'Creation Date': datetime.date(2024, 3, 1), 'Modified Date': datetime.date(2024, 3, 1), 'Last Access Date': datetime.date(2024, 3, 1)}, {'File Name': 'SouthSalaries TerminationDataForAlex.xlsx', 'Creation Date': datetime.date(2024, 3, 1), 'Modified Date': datetime.date(2024, 3, 1), 'Last Access Date': datetime.date(2024, 3, 1)}, {'File Name': 'SouthWages DataForAlex.xlsx', 'Creation Date': datetime.date(2024, 3, 1), 'Modified Date': datetime.date(2024, 3, 1), 'Last Access Date': datetime.date(2024, 3, 1)}, {'File Name': 'SouthWages TerminationDataForAlex.xlsx', 'Creation Date': datetime.date(2024, 3, 1), 'Modified Date': datetime.date(2024, 3, 1), 'Last Access Date': datetime.date(2024, 3, 1)}])

In [11]:
#determine correct file types
salaried = [1 if "salaries" in record["File Name"].lower() else 0 for record in most_recent_records]
waged = [1 if "wages" in record["File Name"].lower() else 0 for record in most_recent_records]
north = [1 if "north" in record["File Name"].lower() else 0 for record in most_recent_records]
south = [1 if "south" in record["File Name"].lower() else 0 for record in most_recent_records]

#loop through and add boolean columns
for record,sal,wag,nor,sou in zip(most_recent_records,salaried,waged,north,south):
    record["IsSalaries"] = sal
    record["IsWages"] = wag
    record["IsNorth"] = nor
    record["IsSouth"] = sou

most_recent_records

dict_values([{'File Name': 'NorthSalaries DataForAlex.xlsx', 'Creation Date': datetime.date(2024, 3, 1), 'Modified Date': datetime.date(2024, 3, 1), 'Last Access Date': datetime.date(2024, 3, 4), 'IsSalaries': 1, 'IsWages': 0, 'IsNorth': 1, 'IsSouth': 0}, {'File Name': 'NorthSalaries TerminationDataForAlex.xlsx', 'Creation Date': datetime.date(2024, 3, 1), 'Modified Date': datetime.date(2024, 3, 1), 'Last Access Date': datetime.date(2024, 3, 4), 'IsSalaries': 1, 'IsWages': 0, 'IsNorth': 1, 'IsSouth': 0}, {'File Name': 'NorthWages DataForAlex.xlsx', 'Creation Date': datetime.date(2024, 3, 1), 'Modified Date': datetime.date(2024, 3, 1), 'Last Access Date': datetime.date(2024, 3, 1), 'IsSalaries': 0, 'IsWages': 1, 'IsNorth': 1, 'IsSouth': 0}, {'File Name': 'NorthWages TerminationDataForAlex.xlsx', 'Creation Date': datetime.date(2024, 3, 1), 'Modified Date': datetime.date(2024, 3, 1), 'Last Access Date': datetime.date(2024, 3, 1), 'IsSalaries': 0, 'IsWages': 1, 'IsNorth': 1, 'IsSouth': 0}, {'File Name': 'SouthSalaries DataForAlex.xlsx', 'Creation Date': datetime.date(2024, 3, 1), 'Modified Date': datetime.date(2024, 3, 1), 'Last Access Date': datetime.date(2024, 3, 1), 'IsSalaries': 1, 'IsWages': 0, 'IsNorth': 0, 'IsSouth': 1}, {'File Name': 'SouthSalaries TerminationDataForAlex.xlsx', 'Creation Date': datetime.date(2024, 3, 1), 'Modified Date': datetime.date(2024, 3, 1), 'Last Access Date': datetime.date(2024, 3, 1), 'IsSalaries': 1, 'IsWages': 0, 'IsNorth': 0, 'IsSouth': 1}, {'File Name': 'SouthWages DataForAlex.xlsx', 'Creation Date': datetime.date(2024, 3, 1), 'Modified Date': datetime.date(2024, 3, 1), 'Last Access Date': datetime.date(2024, 3, 1), 'IsSalaries': 0, 'IsWages': 1, 'IsNorth': 0, 'IsSouth': 1}, {'File Name': 'SouthWages TerminationDataForAlex.xlsx', 'Creation Date': datetime.date(2024, 3, 1), 'Modified Date': datetime.date(2024, 3, 1), 'Last Access Date': datetime.date(2024, 3, 1), 'IsSalaries': 0, 'IsWages': 1, 'IsNorth': 0, 'IsSouth': 1}])

### Combining and Processing files

In [13]:
#south wages, filenames contain both south and wages
south_files = [record["File Name"] for record in most_recent_records if record["IsSouth"] and record["IsWages"]]

print("="*50)
print("south Waged")
print()
print(south_files)
print()

#add termination data
south_termination_file = [file for file in south_files if "termination" in file.lower()][0]
south_termination_file = pd.read_excel(south_termination_file,skiprows=1)
south_termination_file["status"] = "Inactive"

south_leave_balances_file = [file for file in south_files if "leavebalances" in file.lower()][0]
south_waged_leave = pd.read_excel(south_leave_balances_file)

south_waged_leave["Name_Key"] = south_waged_leave["Employee Full Name"].str.replace(",","").str.replace(" ","").str.lower().str.strip()

south_waged_file = [file for file in south_files if "leavebalances" not in file.lower()][0]
south_waged = pd.read_excel(south_waged_file,skiprows=1)
##add status information
south_waged["status"] = "Active"
#standardize name
south_waged["Name_Key"] = south_waged["Name"].str.replace(",","").str.replace(" ","").str.lower().str.strip()

#merge on Name_Key
south_waged = south_waged.merge(south_waged_leave,on="Name_Key",how="left")
#concatendate active and inative staff
south_waged = pd.concat([south_waged, south_termination_file],axis=0)

get_info(south_waged)

==================================================
south Waged

['SouthWages DataForAlex.xlsx', 'SouthWages TerminationDataForAlex.xlsx']

IndexError: list index out of range

In [17]:
#north wages, filenames contain both north and wages
north_files = [record["File Name"] for record in most_recent_records if record["IsNorth"] and record["IsWages"]]

print("="*50)
print("North Waged")
print()
print(north_files)
print()

north_leave_balances_file = [file for file in north_files if "leavebalances" in file.lower()][0]
north_waged_leave = pd.read_excel(north_leave_balances_file)

north_waged_leave["Name_Key"] = north_waged_leave["Employee Full Name"].str.replace(",","").str.replace(" ","").str.lower().str.strip()

#get_info(north_waged_leave)

north_waged_file = [file for file in north_files if "leavebalances" not in file.lower()][0]
north_waged = pd.read_excel(north_waged_file,skiprows=1)

#standardize name
north_waged["Name_Key"] = north_waged["Name"].str.replace(",","").str.replace(" ","").str.lower().str.strip()

#get_info(north_waged)

#join 
north_waged = north_waged.merge(north_waged_leave,on="Name_Key",how="left")

==================================================
North Waged

['NorthWages ForAlex.xlsx', 'NORTHWAGES LEAVEBALANCES.xlsx']

In [18]:
#concatenate north and south for waged
waged = pd.concat([south_waged,north_waged])
waged.head()

,Name,Start Date,Department,Employment Status,Salary/ Wage,Hours Worked,Birth Date,Occupation,Finish Date,Ethnicity,Visa Expiry,Visa Type,Gender,Name_Key,Employee Full Name,Sick/Special Leave Balance,Holidays Balance
0,"Abad, Arnold Sanguyo",2012-09-27,1 - Leighs Christchurch,Permanent,Wage,40.0,1977-10-08,Leading Hand,NaN,...,16/01/24 ...,Resident Visa ...,Male,abadarnoldsanguyo,Abad Arnold Sanguyo,1.0,12.99
1,"Acantilado, Richel",2015-01-08,1 - Leighs Christchurch,Permanent,Wage,40.0,1977-01-24,Carpenter,NaN,...,2024-03-08 00:00:00,Resident Visa ...,Male,acantiladorichel,Acantilado Richel,20.0,9.12
2,"Adlaon, Arthur Prieto",2022-10-13,1 - Leighs Christchurch,Permanent,Wage,47.5,1970-03-24,Carpenter,NaN,...,2024-12-10 00:00:00,Work Visa ...,Male,adlaonarthurprieto,Adlaon Arthur Prieto,0.0,10.13
3,"Algar, Roy Anthony",2011-09-12,1 - Leighs Christchurch,Permanent,Wage,50.0,1973-12-02,Site Supervisor,NaN,...,...,...,Male,algarroyanthony,Algar Roy Anthony,2.0,3.32
4,"Anderson, Liam James",2022-08-29,1 - Leighs Christchurch,Permanent,Wage,50.0,1989-07-31,Site Supervisor,NaN,NZ European ...,...,...,Male,andersonliamjames,Anderson Liam James,0.0,8.87

In [19]:
waged.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140 entries, 0 to 66
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Name                         140 non-null    object
 1   Start Date                   140 non-null    datetime64[ns]
 2   Department                   140 non-null    object
 3   Employment  Status           140 non-null    object
 4   Salary/ Wage                 140 non-null    object
 5   Hours Worked                 140 non-null    float64
 6   Birth Date                   140 non-null    datetime64[ns]
 7   Occupation                   140 non-null    object
 8   Finish Date                  0 non-null      float64
 9   Ethnicity                    140 non-null    object
 10  Visa Expiry                  140 non-null    object
 11  Visa Type                    140 non-null    object
 12  Gender                       140 non-null    object
 13  Name_Key                     140 non-null    object
 14  Employee Full Name           140 non-null    object
 15   Sick/Special Leave Balance  140 non-null    float64
 16   Holidays Balance            140 non-null    float64
dtypes: datetime64[ns](2), float64(4), object(11)
memory usage: 19.7+ KB

In [20]:
#south wages, filenames contain both south and wages
south_files = [record["File Name"] for record in most_recent_records if record["IsSouth"] and record["IsSalaries"]]

print("="*50)
print("south Salaries")
print()
print(south_files)
print()

south_leave_balances_file = [file for file in south_files if "leavebalances" in file.lower()][0]
south_salaried_leave = pd.read_excel(south_leave_balances_file)

south_salaried_leave["Name_Key"] = south_salaried_leave["Employee Full Name"].str.replace(",","").str.replace(" ","").str.lower().str.strip()

#get_info(south_waged_leave)

south_salaried_file = [file for file in south_files if "leavebalances" not in file.lower()][0]
south_salaried = pd.read_excel(south_salaried_file,skiprows=1)

#standardize name
south_salaried["Name_Key"] = south_salaried["Name"].str.replace(",","").str.replace(" ","").str.lower().str.strip()

#get_info(south_waged)
#merge on Name_Key
south_salaried = south_salaried.merge(south_salaried_leave,on="Name_Key",how="left")
get_info(south_salaried)

==================================================
south Salaries

['SouthSalaries ForAlex.xlsx', 'SOUTHSALARIES LEAVEBALANCES.xlsx']

==================================================
(94, 17)
                                         Name Start Date  \
0  Aitcheson, Shane Andrew                    2015-01-12
1  Antrobus, Dean                             2021-01-11
2  Aston, Stephen James                       2023-10-30
3  Baggstrom, Kimberley Dawn                  2023-09-07
4  Baker, Anthony Ian                         2024-01-22

                Department Employment  Status Salary/ Wage  Hours Worked  \
0  1 - Leighs Christchurch          Permanent     Salary            45.0
1  1 - Leighs Christchurch          Permanent     Salary            45.0
2  1 - Leighs Christchurch          Permanent     Salary            45.0
3  1 - Leighs Christchurch          Permanent     Salary            40.0
4  1 - Leighs Christchurch          Permanent     Salary            40.0

  Birth Date                           Occupation  Finish Date  \
0 1985-09-11  Project Manager                              NaN
1 1969-01-29  Senior Quantity Surveyor                     NaN
2 1980-07-16  Site Manager                                 NaN
3 1990-05-19  Regional Management Team Administra          NaN
4 1983-11-18  Job Pac Consultant                           NaN

                                           Ethnicity  \
0                                                ...
1                                                ...
2  British                                       ...
3  NZ Maori, European                            ...
4  NZ European                                   ...

                                         Visa Expiry  \
0                                                ...
1                                                ...
2  36mths after first arrival - Oct'26           ...
3                                                ...
4                                                ...

                                           Visa Type          Gender  \
0                                                ...  Male
1                                                ...  Male
2  Accredited Employer Work Visa                 ...  Male
3                                                ...  Female
4  Permanent Resident                            ...  Male

                 Name_Key         Employee Full Name  \
0    aitchesonshaneandrew    Aitcheson  Shane Andrew
1            antrobusdean             Antrobus  Dean
2       astonstephenjames       Aston  Stephen James
3  baggstromkimberleydawn  Baggstrom  Kimberley Dawn
4         bakeranthonyian         Baker  Anthony Ian

    Sick/Special Leave Balance   Holidays Balance
0                        19.03               1.56
1                        11.20               6.70
2                         0.00               5.70
3                         0.00               2.68
4                         0.00               1.10

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Name                         94 non-null     object
 1   Start Date                   94 non-null     datetime64[ns]
 2   Department                   94 non-null     object
 3   Employment  Status           94 non-null     object
 4   Salary/ Wage                 94 non-null     object
 5   Hours Worked                 94 non-null     float64
 6   Birth Date                   93 non-null     datetime64[ns]
 7   Occupation                   94 non-null     object
 8   Finish Date                  0 non-null      float64
 9   Ethnicity                    94 non-null     object
 10  Visa Expiry                  94 non-null     object
 11  Visa Type                    94 non-null     object
 12  Gender                       94 non-null     object
 13  Name_Key                     94 non-null     object
 14  Employee Full Name           94 non-null     object
 15   Sick/Special Leave Balance  94 non-null     float64
 16   Holidays Balance            94 non-null     float64
dtypes: datetime64[ns](2), float64(4), object(11)
memory usage: 12.6+ KB
None

==================================================

In [21]:
north_files = [record["File Name"] for record in most_recent_records if record["IsNorth"] and record["IsSalaries"]]

print("="*50)
print("North Salaries")
print()
print(north_files)
print()

north_leave_balances_file = [file for file in north_files if "leavebalances" in file.lower()][0]
north_salaried_leave = pd.read_excel(north_leave_balances_file)

north_salaried_leave["Name_Key"] = north_salaried_leave["Employee Full Name"].str.replace(",","").str.replace(" ","").str.lower().str.strip()

#get_info(north_waged_leave)

north_salaried_file = [file for file in north_files if "leavebalances" not in file.lower()][0]
north_salaried = pd.read_excel(north_salaried_file,skiprows=1)

#standardize name
north_salaried["Name_Key"] = north_salaried["Name"].str.replace(",","").str.replace(" ","").str.lower().str.strip()

#get_info(north_waged)
#merge on Name_Key
north_salaried = north_salaried.merge(north_salaried_leave,on="Name_Key",how="left")
get_info(north_salaried)

==================================================
North Salaries

['NorthSalaries ForAlex.xlsx', 'NORTHSALARIES LEAVEBALANCES.xlsx']

==================================================
(58, 17)
                                         Name Start Date  \
0  Aguado, Crisiya Quismundo                  2022-11-22
1  Alborough, Meegan                          2017-05-29
2  Alombro, Allan Jesus Benitez               2023-01-23
3  Baranyai, Damian Miklos                    2021-11-29
4  Barnes, Stuart Ross                        2023-09-18

                Department Employment  Status Salary/ Wage  Hours Worked  \
0      2 - Leighs Auckland          Permanent     Salary            45.0
1      2 - Leighs Auckland          Permanent     Salary            32.0
2      2 - Leighs Auckland          Permanent     Salary            45.0
3      2 - Leighs Auckland          Permanent     Salary            45.0
4  3 - Leighs New Plymouth          Permanent     Salary            45.0

  Birth Date                           Occupation  Finish Date  \
0 1990-12-03  Project Engineer                             NaN
1 1985-06-16  Site Administrator                           NaN
2 1971-02-04  Site Manager                                 NaN
3 1998-01-18  Site Supervisor - FLP                        NaN
4 1985-12-20  Site Manager                                 NaN

                                           Ethnicity  \
0  Filipino                                      ...
1                                                ...
2  Filipino                                      ...
3                                                ...
4  NZ European                                   ...

                                         Visa Expiry  \
0                                                ...
1                                                ...
2                                                ...
3                                                ...
4                                                ...

                                           Visa Type          Gender  \
0  Resident Visa                                 ...  Female
1                                                ...  Female
2  Indefinite Resident Visa                      ...  Male
3                                                ...  Male
4                                                ...  Male

                   Name_Key            Employee Full Name  \
0    aguadocrisiyaquismundo     Aguado  Crisiya Quismundo
1           alboroughmeegan             Alborough  Meegan
2  alombroallanjesusbenitez  Alombro  Allan Jesus Benitez
3      baranyaidamianmiklos       Baranyai  Damian Miklos
4          barnesstuartross           Barnes  Stuart Ross

    Sick/Special Leave Balance   Holidays Balance
0                         5.29              17.44
1                         4.93               7.31
2                        10.00               2.68
3                         3.33              17.63
4                         0.00               2.68

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Name                         58 non-null     object
 1   Start Date                   58 non-null     datetime64[ns]
 2   Department                   58 non-null     object
 3   Employment  Status           58 non-null     object
 4   Salary/ Wage                 58 non-null     object
 5   Hours Worked                 58 non-null     float64
 6   Birth Date                   58 non-null     datetime64[ns]
 7   Occupation                   58 non-null     object
 8   Finish Date                  0 non-null      float64
 9   Ethnicity                    58 non-null     object
 10  Visa Expiry                  58 non-null     object
 11  Visa Type                    58 non-null     object
 12  Gender                       58 non-null     object
 13  Name_Key                     58 non-null     object
 14  Employee Full Name           58 non-null     object
 15   Sick/Special Leave Balance  58 non-null     float64
 16   Holidays Balance            58 non-null     float64
dtypes: datetime64[ns](2), float64(4), object(11)
memory usage: 7.8+ KB
None

==================================================

In [22]:
#concatenate north and south for salaried
salaried = pd.concat([south_salaried,north_salaried])
salaried.head()

,Name,Start Date,Department,Employment Status,Salary/ Wage,Hours Worked,Birth Date,Occupation,Finish Date,Ethnicity,Visa Expiry,Visa Type,Gender,Name_Key,Employee Full Name,Sick/Special Leave Balance,Holidays Balance
0,"Aitcheson, Shane Andrew",2015-01-12,1 - Leighs Christchurch,Permanent,Salary,45.0,1985-09-11,Project Manager,NaN,...,...,...,Male,aitchesonshaneandrew,Aitcheson Shane Andrew,19.03,1.56
1,"Antrobus, Dean",2021-01-11,1 - Leighs Christchurch,Permanent,Salary,45.0,1969-01-29,Senior Quantity Surveyor,NaN,...,...,...,Male,antrobusdean,Antrobus Dean,11.20,6.70
2,"Aston, Stephen James",2023-10-30,1 - Leighs Christchurch,Permanent,Salary,45.0,1980-07-16,Site Manager,NaN,British ...,36mths after first arrival - Oct'26 ...,Accredited Employer Work Visa ...,Male,astonstephenjames,Aston Stephen James,0.00,5.70
3,"Baggstrom, Kimberley Dawn",2023-09-07,1 - Leighs Christchurch,Permanent,Salary,40.0,1990-05-19,Regional Management Team Administra,NaN,"NZ Maori, European ...",...,...,Female,baggstromkimberleydawn,Baggstrom Kimberley Dawn,0.00,2.68
4,"Baker, Anthony Ian",2024-01-22,1 - Leighs Christchurch,Permanent,Salary,40.0,1983-11-18,Job Pac Consultant,NaN,NZ European ...,...,Permanent Resident ...,Male,bakeranthonyian,Baker Anthony Ian,0.00,1.10

In [23]:
salaried.info()

<class 'pandas.core.frame.DataFrame'>
Index: 152 entries, 0 to 57
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Name                         152 non-null    object
 1   Start Date                   152 non-null    datetime64[ns]
 2   Department                   152 non-null    object
 3   Employment  Status           152 non-null    object
 4   Salary/ Wage                 152 non-null    object
 5   Hours Worked                 152 non-null    float64
 6   Birth Date                   151 non-null    datetime64[ns]
 7   Occupation                   152 non-null    object
 8   Finish Date                  0 non-null      float64
 9   Ethnicity                    152 non-null    object
 10  Visa Expiry                  152 non-null    object
 11  Visa Type                    152 non-null    object
 12  Gender                       152 non-null    object
 13  Name_Key                     152 non-null    object
 14  Employee Full Name           152 non-null    object
 15   Sick/Special Leave Balance  152 non-null    float64
 16   Holidays Balance            152 non-null    float64
dtypes: datetime64[ns](2), float64(4), object(11)
memory usage: 21.4+ KB

### Combining salaried and waged data

In [24]:
#ensure column ordering remains consistent for salaried and waged
#print(salaried.columns)
#print(waged.columns)

mismatch=False
for s,w in zip(salaried.columns,waged.columns):
    if s != w:
        mismatch=True
        
if mismatch: 
    print("There is a mismatch of columns, please reorder appropriately")
    raise ValueError()
else:
    print("No Column Mismatch, can combine waged and salaried!")

No Column Mismatch, can combine waged and salaried!

In [25]:
employee_data = pd.concat([salaried,waged])

#drop name key and employee full name
employee_data.drop(columns=["Employee Full Name","Name_Key"],inplace=True)

#add a last updated column

employee_data["Data Last Updated At"] = dt.utcnow()

get_info(employee_data)

==================================================
(292, 16)
                                         Name Start Date  \
0  Aitcheson, Shane Andrew                    2015-01-12
1  Antrobus, Dean                             2021-01-11
2  Aston, Stephen James                       2023-10-30
3  Baggstrom, Kimberley Dawn                  2023-09-07
4  Baker, Anthony Ian                         2024-01-22

                Department Employment  Status Salary/ Wage  Hours Worked  \
0  1 - Leighs Christchurch          Permanent     Salary            45.0
1  1 - Leighs Christchurch          Permanent     Salary            45.0
2  1 - Leighs Christchurch          Permanent     Salary            45.0
3  1 - Leighs Christchurch          Permanent     Salary            40.0
4  1 - Leighs Christchurch          Permanent     Salary            40.0

  Birth Date                           Occupation  Finish Date  \
0 1985-09-11  Project Manager                              NaN
1 1969-01-29  Senior Quantity Surveyor                     NaN
2 1980-07-16  Site Manager                                 NaN
3 1990-05-19  Regional Management Team Administra          NaN
4 1983-11-18  Job Pac Consultant                           NaN

                                           Ethnicity  \
0                                                ...
1                                                ...
2  British                                       ...
3  NZ Maori, European                            ...
4  NZ European                                   ...

                                         Visa Expiry  \
0                                                ...
1                                                ...
2  36mths after first arrival - Oct'26           ...
3                                                ...
4                                                ...

                                           Visa Type          Gender  \
0                                                ...  Male
1                                                ...  Male
2  Accredited Employer Work Visa                 ...  Male
3                                                ...  Female
4  Permanent Resident                            ...  Male

    Sick/Special Leave Balance   Holidays Balance       Data Last Updated At
0                        19.03               1.56 2024-02-08 21:44:30.376522
1                        11.20               6.70 2024-02-08 21:44:30.376522
2                         0.00               5.70 2024-02-08 21:44:30.376522
3                         0.00               2.68 2024-02-08 21:44:30.376522
4                         0.00               1.10 2024-02-08 21:44:30.376522

<class 'pandas.core.frame.DataFrame'>
Index: 292 entries, 0 to 66
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Name                         292 non-null    object
 1   Start Date                   292 non-null    datetime64[ns]
 2   Department                   292 non-null    object
 3   Employment  Status           292 non-null    object
 4   Salary/ Wage                 292 non-null    object
 5   Hours Worked                 292 non-null    float64
 6   Birth Date                   291 non-null    datetime64[ns]
 7   Occupation                   292 non-null    object
 8   Finish Date                  0 non-null      float64
 9   Ethnicity                    292 non-null    object
 10  Visa Expiry                  292 non-null    object
 11  Visa Type                    292 non-null    object
 12  Gender                       292 non-null    object
 13   Sick/Special Leave Balance  292 non-null    float64
 14   Holidays Balance            292 non-null    float64
 15  Data Last Updated At         292 non-null    datetime64[us]
dtypes: datetime64[ns](2), datetime64[us](1), float64(4), object(9)
memory usage: 38.8+ KB
None

==================================================

C:\Users\alex.jefferies\AppData\Local\Temp\ipykernel_13812\1332053743.py:8: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  employee_data["Data Last Updated At"] = dt.utcnow()

### Exporting tidied data to file for use in powerBI

In [26]:
employee_data.to_csv('employee_data_tidy.csv')
print("Data Cleaned successfully!")

Data Cleaned successfully!

In [27]:
#change back to data analytics directory. Add a copy of data to make the active version 
os.chdir(r"C:\Users\alex.jefferies\Leighs Construction Limited\Data Analytics - Documents\General\Projects\HR\People Dashboard")
employee_data.to_csv('employee_data_tidy_active.csv')
print("Data Copied successfully!")

Data Cleaned successfully!