In [39]:
import pandas as pd
import os
from datetime import datetime as dt

In [40]:
#pandas options
import pandas as pd
pd.set_option('display.max_rows', None)

In [41]:
#!py -m pip install openpyxl --upgrade

In [42]:
#change to payroll teams documents folder, note that this needs to be synched to your directory for this to work
os.chdir(r"C:\Users\alex.jefferies\Leighs Construction Limited\People and Culture - 11 Payroll - People Dashboard Data Sources")

In [43]:
#helper functions
# Assuming 'df' is your DataFrame
def missing_info(df:pd.DataFrame):
    total_rows = len(df)
    missing_values_count = df.isnull().sum()
    missing_values_ratio = (missing_values_count / total_rows)

    missing_values_df = pd.DataFrame({'missing_count': missing_values_count, 'missing_ratio': missing_values_ratio})
    print(missing_values_df)

def time_convert(atime):
    newtime = dt.fromtimestamp(atime)
    return newtime.date()

def create_file_records(somepath) -> dict:
    #dictionary
    firstDict = {}
    
    for name in os.listdir(somepath): 

        if ".xlsx" in name or ".csv" in name.lower():
    
            filepath = os.path.join(somepath, name)
            
            #main library that holds stats
            stats = os.stat(filepath)
            
            attrs = {
                'File Name': name,
                #'Size (KB)': sizeFormat(stats.st_size),
                'Creation Date': time_convert(stats.st_ctime),
                'Modified Date': time_convert(stats.st_mtime),
                'Last Access Date': time_convert(stats.st_atime),
                
            }
           
            firstDict[name] = attrs 

    return firstDict 

def view_records(file_records) -> None:
    
    for key, value in file_records.items():
            
        for k,v in value.items():
            print(f"{k}: {v}")
        print()

def get_info(df:pd.DataFrame):
    print("="*50)
    print(df.shape)
    print(df.head())
    print()
    print(df.info())
    print()
    print("="*50)

In [44]:
current_path = os.getcwd()
subdirs = [os.path.join(current_path, d) for d in os.listdir(current_path) if os.path.isdir(os.path.join(current_path, d))]

# Sort the subdirectories by their creation time in descending order
sorted_subdirs = sorted(subdirs, key=os.path.getctime, reverse=True)

# Get the latest subdirectory
latest_subdir = sorted_subdirs[0]
os.chdir(latest_subdir)

In [45]:
latest_subdir

'C:\\Users\\alex.jefferies\\Leighs Construction Limited\\People and Culture - 11 Payroll - People Dashboard Data Sources\\240501'

In [46]:
!dir

 Volume in drive C is Windows
 Volume Serial Number is 9841-01DE

 Directory of C:\Users\alex.jefferies\Leighs Construction Limited\People and Culture - 11 Payroll - People Dashboard Data Sources\240501

05/02/2024  08:10 AM    <DIR>          .
05/02/2024  09:24 AM    <DIR>          ..
05/02/2024  06:05 AM          (24,331) 240501 North Wages TerminatedEmployees.xlsx
05/01/2024  09:16 AM            20,326 240501 NorthSalaries EmployeeList.xlsx
05/01/2024  09:19 AM             2,285 240501 NORTHSALARIES LEAVEBALANCES.CSV
05/01/2024  02:41 PM            29,486 240501 NorthSalaries TerminatedEmployees.xlsx
05/01/2024  04:12 PM            22,139 240501 NorthWages EmployeeList.xlsx
05/01/2024  09:32 AM             2,479 240501 NORTHWAGES LEAVEBALANCES.CSV
05/01/2024  03:29 PM            21,865 240501 NorthWages TerminatedEmployees.xlsx
05/01/2024  09:25 AM            22,326 240501 SouthSalaries EmployeeList.xlsx
05/01/2024  02:43 PM            30,478 240501 SouthSalaries TerminatedEmployees.xlsx
05/01/2024  09:28 AM            20,274 240501 SouthWages EmployeeList.xlsx
05/01/2024  09:30 AM             2,704 240501 SOUTHWAGES LEAVEBALANCES.CSV
05/01/2024  02:44 PM            46,522 240501 SouthWages TerminatedEmployees.xlsx
05/01/2024  09:27 AM             3,315 240501SOUTHSALARIES LEAVEBALANCES.CSV
05/01/2024  03:22 PM           869,210 employee_data_tidy.csv
              14 File(s)      1,117,740 bytes
               2 Dir(s)  872,240,447,488 bytes free

### Directory sorting and filtering

In [47]:
file_records = create_file_records(latest_subdir)

In [48]:
view_records(file_records)

File Name: 240501 North Wages TerminatedEmployees.xlsx
Creation Date: 2024-05-02
Modified Date: 2024-05-02
Last Access Date: 2024-05-02

File Name: 240501 NorthSalaries EmployeeList.xlsx
Creation Date: 2024-05-01
Modified Date: 2024-05-01
Last Access Date: 2024-05-01

File Name: 240501 NORTHSALARIES LEAVEBALANCES.CSV
Creation Date: 2024-05-01
Modified Date: 2024-05-01
Last Access Date: 2024-05-01

File Name: 240501 NorthSalaries TerminatedEmployees.xlsx
Creation Date: 2024-05-01
Modified Date: 2024-05-01
Last Access Date: 2024-05-01

File Name: 240501 NorthWages EmployeeList.xlsx
Creation Date: 2024-05-01
Modified Date: 2024-05-01
Last Access Date: 2024-05-01

File Name: 240501 NORTHWAGES LEAVEBALANCES.CSV
Creation Date: 2024-05-01
Modified Date: 2024-05-01
Last Access Date: 2024-05-01

File Name: 240501 NorthWages TerminatedEmployees.xlsx
Creation Date: 2024-05-01
Modified Date: 2024-05-01
Last Access Date: 2024-05-01

File Name: 240501 SouthSalaries EmployeeList.xlsx
Creation Date: 2024-05-01
Modified Date: 2024-05-01
Last Access Date: 2024-05-01

File Name: 240501 SouthSalaries TerminatedEmployees.xlsx
Creation Date: 2024-05-01
Modified Date: 2024-05-01
Last Access Date: 2024-05-01

File Name: 240501 SouthWages EmployeeList.xlsx
Creation Date: 2024-05-01
Modified Date: 2024-05-01
Last Access Date: 2024-05-01

File Name: 240501 SOUTHWAGES LEAVEBALANCES.CSV
Creation Date: 2024-05-01
Modified Date: 2024-05-01
Last Access Date: 2024-05-01

File Name: 240501 SouthWages TerminatedEmployees.xlsx
Creation Date: 2024-05-01
Modified Date: 2024-05-01
Last Access Date: 2024-05-01

File Name: 240501SOUTHSALARIES LEAVEBALANCES.CSV
Creation Date: 2024-05-01
Modified Date: 2024-05-01
Last Access Date: 2024-05-01

File Name: employee_data_tidy.csv
Creation Date: 2024-05-01
Modified Date: 2024-05-01
Last Access Date: 2024-05-01

In [49]:
#checking the files in the folder, there should be 12 excluding "employee_data_tidy"
most_recent_records = file_records.values()
for item in most_recent_records:
    print(item['File Name'])
    print()

240501 North Wages TerminatedEmployees.xlsx

240501 NorthSalaries EmployeeList.xlsx

240501 NORTHSALARIES LEAVEBALANCES.CSV

240501 NorthSalaries TerminatedEmployees.xlsx

240501 NorthWages EmployeeList.xlsx

240501 NORTHWAGES LEAVEBALANCES.CSV

240501 NorthWages TerminatedEmployees.xlsx

240501 SouthSalaries EmployeeList.xlsx

240501 SouthSalaries TerminatedEmployees.xlsx

240501 SouthWages EmployeeList.xlsx

240501 SOUTHWAGES LEAVEBALANCES.CSV

240501 SouthWages TerminatedEmployees.xlsx

240501SOUTHSALARIES LEAVEBALANCES.CSV

employee_data_tidy.csv

In [50]:
#determine correct file types

for record in most_recent_records:
    lower_name = record["File Name"].lower()

    record["IsSalaries"] = True if "salaries" in lower_name else False
    record["IsWages"] = True if "wages" in lower_name else False
    record["IsNorth"] = True if "north" in lower_name else False
    record["IsSouth"] = True if "south" in lower_name else False
    record["IsTerminated"] = True if "terminated" in lower_name else False
    record["IsLeaveBalance"] = True if "balances" in lower_name else False

print("="*50)
for item in most_recent_records:
    for k,v in item.items():
        print(f"{k}:{v}")
    print("="*50)

==================================================
File Name:240501 North Wages TerminatedEmployees.xlsx
Creation Date:2024-05-02
Modified Date:2024-05-02
Last Access Date:2024-05-02
IsSalaries:False
IsWages:True
IsNorth:True
IsSouth:False
IsTerminated:True
IsLeaveBalance:False
==================================================
File Name:240501 NorthSalaries EmployeeList.xlsx
Creation Date:2024-05-01
Modified Date:2024-05-01
Last Access Date:2024-05-01
IsSalaries:True
IsWages:False
IsNorth:True
IsSouth:False
IsTerminated:False
IsLeaveBalance:False
==================================================
File Name:240501 NORTHSALARIES LEAVEBALANCES.CSV
Creation Date:2024-05-01
Modified Date:2024-05-01
Last Access Date:2024-05-01
IsSalaries:True
IsWages:False
IsNorth:True
IsSouth:False
IsTerminated:False
IsLeaveBalance:True
==================================================
File Name:240501 NorthSalaries TerminatedEmployees.xlsx
Creation Date:2024-05-01
Modified Date:2024-05-01
Last Access Date:2024-05-01
IsSalaries:True
IsWages:False
IsNorth:True
IsSouth:False
IsTerminated:True
IsLeaveBalance:False
==================================================
File Name:240501 NorthWages EmployeeList.xlsx
Creation Date:2024-05-01
Modified Date:2024-05-01
Last Access Date:2024-05-01
IsSalaries:False
IsWages:True
IsNorth:True
IsSouth:False
IsTerminated:False
IsLeaveBalance:False
==================================================
File Name:240501 NORTHWAGES LEAVEBALANCES.CSV
Creation Date:2024-05-01
Modified Date:2024-05-01
Last Access Date:2024-05-01
IsSalaries:False
IsWages:True
IsNorth:True
IsSouth:False
IsTerminated:False
IsLeaveBalance:True
==================================================
File Name:240501 NorthWages TerminatedEmployees.xlsx
Creation Date:2024-05-01
Modified Date:2024-05-01
Last Access Date:2024-05-01
IsSalaries:False
IsWages:True
IsNorth:True
IsSouth:False
IsTerminated:True
IsLeaveBalance:False
==================================================
File Name:240501 SouthSalaries EmployeeList.xlsx
Creation Date:2024-05-01
Modified Date:2024-05-01
Last Access Date:2024-05-01
IsSalaries:True
IsWages:False
IsNorth:False
IsSouth:True
IsTerminated:False
IsLeaveBalance:False
==================================================
File Name:240501 SouthSalaries TerminatedEmployees.xlsx
Creation Date:2024-05-01
Modified Date:2024-05-01
Last Access Date:2024-05-01
IsSalaries:True
IsWages:False
IsNorth:False
IsSouth:True
IsTerminated:True
IsLeaveBalance:False
==================================================
File Name:240501 SouthWages EmployeeList.xlsx
Creation Date:2024-05-01
Modified Date:2024-05-01
Last Access Date:2024-05-01
IsSalaries:False
IsWages:True
IsNorth:False
IsSouth:True
IsTerminated:False
IsLeaveBalance:False
==================================================
File Name:240501 SOUTHWAGES LEAVEBALANCES.CSV
Creation Date:2024-05-01
Modified Date:2024-05-01
Last Access Date:2024-05-01
IsSalaries:False
IsWages:True
IsNorth:False
IsSouth:True
IsTerminated:False
IsLeaveBalance:True
==================================================
File Name:240501 SouthWages TerminatedEmployees.xlsx
Creation Date:2024-05-01
Modified Date:2024-05-01
Last Access Date:2024-05-01
IsSalaries:False
IsWages:True
IsNorth:False
IsSouth:True
IsTerminated:True
IsLeaveBalance:False
==================================================
File Name:240501SOUTHSALARIES LEAVEBALANCES.CSV
Creation Date:2024-05-01
Modified Date:2024-05-01
Last Access Date:2024-05-01
IsSalaries:True
IsWages:False
IsNorth:False
IsSouth:True
IsTerminated:False
IsLeaveBalance:True
==================================================
File Name:employee_data_tidy.csv
Creation Date:2024-05-01
Modified Date:2024-05-01
Last Access Date:2024-05-01
IsSalaries:False
IsWages:False
IsNorth:False
IsSouth:False
IsTerminated:False
IsLeaveBalance:False
==================================================

### Combining and Processing files

In [55]:

from collections import Counter

def separate_files(records,south_or_north:str="IsSouth",salaried_or_waged:str = "IsWages",leave_filter:str='IsLeaveBalance',terminated_filter='IsTerminated') -> tuple[list,list,list]:
    """separates list of files into south/noth,waged/salaried, leave balanced and terminated"""
    for record in records:
        file = record["File Name"]
        if file == "employee_data_tidy.csv":
            continue
        print(file)
        if record[south_or_north] and record[salaried_or_waged]: #record selection recuded to south/north or wages/salaried based on parameter        
            print(record)
            if record[leave_filter] == False or record[terminated_filter] == False: #record is not a leave balances or terminated file
                waged_or_salaried_file = file 
            
            elif record[leave_filter]:
                leave_balances_file = file

            elif record[terminated_filter]:
                terminated_file = file

            else:
                raise FileNotFoundError("Please check the name of the file")

    return waged_or_salaried_file,leave_balances_file,terminated_file

def add_name_key(df:pd.DataFrame,name_column:str="Name") -> pd.DataFrame:
    """add name key to dataframe"""
    df["Name_Key"] = df[name_column].str.replace(",","").str.replace(" ","").str.lower().str.lstrip().str.rstrip()
    return df

def table_to_html(df):
    html = df.to_html()
    # Write html to file
    text_file = open("index.html", "w")
    text_file.write(html)
    text_file.close()

def files_to_dataframe(file,leave_balances_file,terminated_file,engine='openpyxl',date_format='%d-%m-%Y') -> pd.DataFrame:
    """convert separated files into dataframe format"""
    file_df = pd.read_excel(file,skiprows=1,engine=engine,date_format=date_format,parse_dates=["Start Date","Birth Date","Visa Expiry"])
    file_df["Name"] = file_df["Name"].str.lstrip().str.rstrip()
    print(file_df["Fixed Term Expiry"])
    print(file_df.shape)
    ##add status information
    file_df["Status"] = "Active"
    #standardize name
    add_name_key(file_df, name_column="Name")
    print("main file read successfully!")
    print(file_df.columns)

    leave_df = pd.read_csv(leave_balances_file)
    print(leave_df.head())
    leave_df["Employee Full Name"] = leave_df["Employee Full Name"].str.lstrip().str.rstrip()
    add_name_key(leave_df, name_column="Employee Full Name")
    print("leave file read successfully!")
    print(leave_df.columns)
    print(leave_df.shape)

    terminated_df = pd.read_excel(terminated_file,skiprows=1,engine=engine,date_format=date_format,parse_dates=["Start Date","Birth Date","Finish Date","Fixed Term Expiry"])
    terminated_df["Status"] = "Inactive"
    terminated_df["Name"] = terminated_df["Name"].str.lstrip().str.rstrip()
    add_name_key(terminated_df, name_column="Name")
    print("terminated file read successfully!")
    print(terminated_df.shape)
    print(terminated_df.columns)
    #merge on Name_Key
    merged_df = file_df.merge(leave_df,left_on="Name_Key",right_on="Name_Key",how="inner")
    #concatendate active and inative staff
    concat_df = pd.concat([merged_df,terminated_df],axis=0)
    return concat_df

def add_region(df,modify_to:str='North Island'): 
    df["Region"] = modify_to
    return df

In [56]:

print("="*50)
print("South Waged")
waged_file,leave_balances_file,terminated_file = separate_files(most_recent_records)
print(waged_file,leave_balances_file,terminated_file,sep="\n")
south_waged = files_to_dataframe(waged_file,leave_balances_file,terminated_file)
#write an html table
add_region(south_waged, modify_to="South Island")

get_info(south_waged)

==================================================
South Waged
240501 North Wages TerminatedEmployees.xlsx
240501 NorthSalaries EmployeeList.xlsx
240501 NORTHSALARIES LEAVEBALANCES.CSV
240501 NorthSalaries TerminatedEmployees.xlsx
240501 NorthWages EmployeeList.xlsx
240501 NORTHWAGES LEAVEBALANCES.CSV
240501 NorthWages TerminatedEmployees.xlsx
240501 SouthSalaries EmployeeList.xlsx
240501 SouthSalaries TerminatedEmployees.xlsx
240501 SouthWages EmployeeList.xlsx
{'File Name': '240501 SouthWages EmployeeList.xlsx', 'Creation Date': datetime.date(2024, 5, 1), 'Modified Date': datetime.date(2024, 5, 1), 'Last Access Date': datetime.date(2024, 5, 1), 'IsSalaries': False, 'IsWages': True, 'IsNorth': False, 'IsSouth': True, 'IsTerminated': False, 'IsLeaveBalance': False}
240501 SOUTHWAGES LEAVEBALANCES.CSV
{'File Name': '240501 SOUTHWAGES LEAVEBALANCES.CSV', 'Creation Date': datetime.date(2024, 5, 1), 'Modified Date': datetime.date(2024, 5, 1), 'Last Access Date': datetime.date(2024, 5, 1), 'IsSalaries': False, 'IsWages': True, 'IsNorth': False, 'IsSouth': True, 'IsTerminated': False, 'IsLeaveBalance': True}
240501 SouthWages TerminatedEmployees.xlsx
{'File Name': '240501 SouthWages TerminatedEmployees.xlsx', 'Creation Date': datetime.date(2024, 5, 1), 'Modified Date': datetime.date(2024, 5, 1), 'Last Access Date': datetime.date(2024, 5, 1), 'IsSalaries': False, 'IsWages': True, 'IsNorth': False, 'IsSouth': True, 'IsTerminated': True, 'IsLeaveBalance': False}
240501SOUTHSALARIES LEAVEBALANCES.CSV

UnboundLocalError: cannot access local variable 'leave_balances_file' where it is not associated with a value

In [ ]:
south_waged.columns

Index(['Name', 'Start Date', 'Department', 'Employment  Status',
       'Salary/ Wage', 'Hours Worked', 'Birth Date', 'Occupation', 'Ethnicity',
       'Visa Type', 'Visa Duration', 'Visa Expiry', 'EstimatedFixedTermExpiry',
       'FixedTermAgreement', 'Fixed Term Expiry', 'Gender', 'Status',
       'Name_Key', 'Employee Full Name', ' Sick/Special Leave Balance',
       ' Holidays Balance', 'Finish Date', 'Region'],
      dtype='object')

In [ ]:
#north wages, filenames contain both north and wages

print("="*50)
print("North Waged")
north_waged_file,leave_balances_file,terminated_file = separate_files(most_recent_records,south_or_north="IsNorth",salaried_or_waged="IsWages")
north_waged = files_to_dataframe(north_waged_file,leave_balances_file,terminated_file)

add_region(north_waged,"North Island")
#adjust_departments(north_waged)

##final preprocessing
#for exited staff MYOB defaults the Cost Center to 1 - Leighs Christchurch.Modify the North Island wages to Auckland (by Default) or New Plymouth
#north_waged.loc[north_waged["Finish"] and [north_waged["Cost Centre"]] = "2 - Leighs Auckland"
get_info(north_waged)

==================================================
North Waged
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
21   NaN
22   NaN
23   NaN
24   NaN
25   NaN
26   NaN
27   NaN
28   NaN
29   NaN
30   NaN
31   NaN
32   NaN
33   NaN
34   NaN
35   NaN
36   NaN
37   NaN
38   NaN
39   NaN
40   NaN
41   NaN
42   NaN
43   NaN
44   NaN
45   NaN
46   NaN
47   NaN
48   NaN
49   NaN
50   NaN
51   NaN
52   NaN
53   NaN
54   NaN
55   NaN
56   NaN
57   NaN
58   NaN
59   NaN
60   NaN
61   NaN
62   NaN
63   NaN
64   NaN
65   NaN
66   NaN
67   NaN
68   NaN
69   NaN
70   NaN
71   NaN
72   NaN
73   NaN
Name: Fixed Term Expiry, dtype: float64
(74, 16)
main file read successfully!
Index(['Name', 'Start Date', 'Department', 'Employment  Status',
       'Salary/ Wage', 'Hours Worked', 'Birth Date', 'Occupation', 'Ethnicity',
       'Visa Type', 'Visa Duration', 'Visa Expiry', 'EstimatedFixedTermExpiry',
       'FixedTermAgreement', 'Fixed Term Expiry', 'Gender', 'Status',
       'Name_Key'],
      dtype='object')
          Employee Full Name   Sick/Special Leave Balance   Holidays Balance
0    Aitcheson  Shane Andrew                        17.53               4.17
1             Antrobus  Dean                        11.20               9.30
2       Aston  Stephen James                        10.00              10.30
3  Baggstrom  Kimberley Dawn                        10.00               3.29
4         Baker  Anthony Ian                         0.00               5.70
leave file read successfully!
Index(['Employee Full Name', ' Sick/Special Leave Balance',
       ' Holidays Balance', 'Name_Key'],
      dtype='object')
(93, 4)
0            aitchesonshaneandrew
1                    antrobusdean
2               astonstephenjames
3          baggstromkimberleydawn
4                 bakeranthonyian
5             boudetmanonannelise
6            bradshawangeladenise
7              cabelllachlanjames
8             chamberssimongraham
9                chaplinlornamary
10                chenqiuyun(ada)
11                       chojason
12       connormichaelchristopher
13                  crowtarncaleb
14        daviesedwardjohnhussein
15              dempseyjeffreyjon
16                dennispauljames
17              dickierossdouglas
18           dugdalehamishwilliam
19             dunthornelornajane
20               faganwendiekaryn
21          falconerdeborahmarion
22           fearonalexanderdavid
23              ferraritenamorgan
24              findlaygrantjames
25                footescottjames
26                 forbesbradjohn
27            garciarichardpronto
28          geldermanscarlphillip
29                  gilescoleryan
30            hamiltonneilmichael
31             harrisbradleywayne
32               harrisjustineann
33                harroldtarahlyn
34           hawkinsnathananthony
35                       helinlin
36          hickschristinefrances
37              hoganmarcusandrew
38                   houghjacobus
39                 irietaylorkiyo
40                jarmandavidjohn
41              jarvismathewpeter
42     jefferiesalexanderravindra
43                      jorycraig
44               keanjamesmichael
45             knowlesmichaeljohn
46                   kudinhakevin
47     lawrencechristopherdouglas
48              lawrenceryanjames
49              leighsgemmateresa
50                     leighsjane
51                  longhurstsara
52          macdonaldjeffreykeith
53             marchionnagaryjohn
54       martinanthonychristopher
55              masseyjessicaleah
56                mcconnachieteri
57            mcevoydonallaurence
58           mcguckinvictoriajane
59               mcwhajohnfrancis
60                     milleriain
61            mitchellrebeccajane
62               moffittobedjames
63             mooreemlynpatricia
64               mossglynjonathan
65                ngataiwilljames
66                   osmersgraham
67               pascophillipjohn
68                 payneemmajayne
69               pearsonmarkjames
70    petersonelisabethjacqueline
71           prokopgrzegorz(greg)
72           quartermanjackandrew
73                restonmarkjames
74            reynoldsjaredgraham
75             russellmatthewjohn
76                ryanconnorinnes
77                  searlematthew
78         skinnerjonathanstephen
79                smithlaingeorge
80              stubleyrossgeorge
81                 taitkathymarie
82            tessierdanieljoseph
83            thompsonmarkwilliam
84           trowbridgeshaunbevan
85              velenskideanjason
86              wainmeredithjulie
87             whitelucyelizabeth
88           williamsthomasmervyn
89               wilsondeansteven
90             wongwinstonyeeseng
91               youngmankyliemay
92                       zhanghao
Name: Name_Key, dtype: object
terminated file read successfully!
(405, 15)
Index(['Name', 'Start Date', 'Department', 'Employment  Status',
       'Salary/ Wage', 'Hours Worked', 'Birth Date', 'Occupation',
       'Finish Date', 'Ethnicity', 'Visa Duration', 'Visa Type',
       'Fixed Term Expiry', 'Status', 'Name_Key'],
      dtype='object')
0                    abadinasjosejrgarong
1                    abelanesgeorgeferrer
2                     abraasvincentantony
3                      adamsonjasonphilip
4                      adlaonarthurprieto
5                             ahidaedward
6                             alejoardine
7                almaelpidionapoles(wiki)
8               amarilloredentor(titorey)
9                          ammarimohammed
10            andersonmichaelfrankcharles
11            andresbagnosvalentin(banjo)
12                     anonuevojoel(bong)
13                     anonuevolitoburgos
14                             apiatapaul
15                apinrizalinocruz(pinky)
16                  armstronggerardthomas
17                      austinraymondjohn
18                        bagtasguillermo
19                     bakkercoreywilliam
20                  baldoorlandostaanajnr
21       balictarvirgilioguerina(burrito)
22                           bangitelarde
23                        bankslarsandrew
24                        bannannigelpaul
25                      barrettadamgraham
26         bartlettranierateeketuoterangi
27            bastownicholaswilliamedward
28              bautistajrsegundodeguzman
29                            beckettliam
30                    beeforthjessejoseph
31                 beintmannvincentthomas
32                          bengcocharlie
33                      bennettmurrayjohn
34                              berrydave
35                       bidangjohnpagada
36                 blackmansamuelharrison
37                   blasjamesbryanlatham
38                       bluckrobertjames
39            blylevenjoshuapetermadgwick
40                            bongaaquino
41                           booclucrecio
42                    boudetmanonannelise
43                    bovendeerdolafamede
44                         bowlesgaryjohn
45             braganzabenedictjesuscamba
46                   brattenfearghusflynn
47                    braunmitchellrobert
48                       braxtonbobbileah
49                    brigidojayby(jacky)
50                             brinkkarin
51                      brionesnoelfuldan
52                       brittryanwilliam
53                    broadbentjohnmartin
54                          broadbentjohn
55                      browneamypatricia
56                   brushstephenhamilton
57                    buckleycyrilfrancis
58              burmesterjacksamuelstjohn
59                        bustamantejesus
60                              byrnealan
61                cabigtingnorberto(bert)
62                          cadondonronie
63                    cairnsjeffriealbert
64                  cameronjonathanandrew
65                    campbelllucasandrew
66               campbellelliotandreihudd
67              campbellelliotandrei-hudd
68                     carolanconorthomas
69                      carpiogaspar(car)
70              chasereginaldgeorgenorman
71                        chenqiuyun(ada)
72                     cherrystephenjames
73                              chiumeipo
74                               chojason
75                     clucasandrewthomas
76                        coburnlucastroy
77                      colestevenrichard
78                   collinsmartinleonard
79                   cosgrovematthewbruce
80                       cowansarahterese
81                       crisostomogenaro
82                          crowtarncaleb
83                              culldavid
84                    darkjustinericjames
85              davidson-blackandrewdavid
86                       davisjed-william
87                      derooythomaslouis
88                      deaneciaranthomas
89                        delrosariogerry
90                      dempseyjeffreyjon
91                       dennisioneamelia
92                        dethierrygareth
93                         dominguezarnel
94                      donovanpauljoseph
95                     dowersbenjaminjohn
96                      downeypaulmichael
97                       doylejeffreyalan
98                     drummondrobertjohn
99                      dubargraemeandrew
100             duffroryalexanderlawrence
101               dyercharlespeterrebbeck
102                       edmeadesrichard
103                  edmeadesrichardbrian
104                        ellisbenarthur
105                    enrighttraceymaree
106                 esguerrarizaldelacruz
107                         ewanisaakjohn
108                        faheyadamrangi
109                      faheyaaronthomas
110                fauchellejonathandavid
111                      fearnshelleyanne
112                         fentonfrancis
113                              filimuka
114                       finnkeanuthomas
115                    firmanshanemicheal
116                      floresfredybitao
117                   fobbesterleestephen
118                franciscojoselitomateo
119                     franillajoyespijo
120                           frawleynoel
121                   frierykellyarohanui
122                    frostmichaeledward
123            furnishjackmartinalexander
124                     gallopmichaeljohn
125                    garciajun(garlick)
126                          garpezaedito
127                     geraghtyjamesross
128                gerrarddanielrobertlee
129                gerrarddanielrobertlee
130                gerrarddanielrobertlee
131               gerrardleecharlotterose
132                         gilchristluke
133                         gilescoleryan
134                     gillespieryanjohn
135                     gillespieryanjohn
136                 glassjackerniestephen
137           glastonburybasilhenryalbert
138                    goddardshanongavin
139                          goebbelssean
140                    goulddeborahjoanne
141                     grahamjamesdonald
142                     grahampaulmichael
143                         grevealanjohn
144                   gricenicholasgeorge
145                         guevarraromel
146                     guillemotmarkjohn
147                         hainesbernard
148                   hamptonrogerdouglas
149                        hansenlawrence
150                      hansenerrolswane
151                        hansenlawrence
152                       harrisgemmakate
153                   harrisnicholasdavid
154                    hartmelaniejocelyn
155                        hartmohisamuel
156                              helinlin
157                     hendleyvincentleo
158                           henkelsusan
159                          heughlezanne
160                          heughlezanne
161                          heughlezanne
162                          heughlezanne
163                          heughlezanne
164                 hikawaipaigealexandra
165                hillstylerkyranclayton
166                          hirinijordan
167                       hodgeblairjames
168                     hoganpetermichael
169                             holejames
170               holthamdanielkeithjames
171                          houghjacobus
172                  hughesjackmacalister
173                    hunteranthonyjames
174                   irvingsamuelrichard
175                     jacksonchrisallan
176                     jacobsenricobrent
177                   jaldoalaricocardeal
178                       jamescolindavid
179                     javierfidessalvem
180                           jaydenriver
181                     jefferaymarkdavid
182                           jenningsben
183                  johnstonshaynerobert
184                        johnstonescott
185                  johnstonshaynerobert
186                  johnstonshaynerobert
187                  johnstonpetermichael
188                             jorycraig
189                 josepeterlaurenceampo
190                   jungelawrencerobert
191                          kapapercypae
192                      keanjamesmichael
193                      keanjamesmichael
194                      keanjamesmichael
195                      keanjamesmichael
196                      keanjamesmichael
197                      keanjamesmichael
198                 keanjenniferevelineam
199                    keannicolecourtney
200                          keeleysamuel
201                 kellyalexanderstephen
202                      kellyjamesjoseph
203                 kellyalexanderstephen
204                         kerrmeghanjoy
205               kibblewhiteaaronwilliam
206          kingipattersondrucilladenise
207                     kircheraleshajane
208                   kito-thompsongeorge
209                      klooghemilysarah
210                           knapquentin
211                    knowlesmichaeljohn
212                      lacanientaronald
213                    lamontjessicamaree
214                            larodalino
215    larrobisdemosthenesbarcoma(tennis)
216           latayadafelmardalogdog(fel)
217                   laurencegregstanley
218                     lawrenceryanjames
219                            leighsjane
220                  leighsanthonycameron
221                     leighsgemmateresa
222                        lemonstaceyann
223                        lemonstaceyann
224                     lewisdarrenstuart
225                     lindondeanraymond
226                     lomasrobertgordon
227                      lubbenreinereric
228                   lunaandresitomandac
229                      luxfordpeteralan
230                      luxfordpeteralan
231                       lynamendadaniel
232                   macdonaldscottglenn
233           macdonaldpeterjamesdrysdale
234                  maclachlanpeterjames
235                   mallarimark(mackie)
236                           mallariraul
237                  malonzorolandmarucut
238                           malubaynoel
239                  manarangjonald(jovi)
240                       manlapazavelino
241                 marshalltomoliverlane
242       marshallgenevieveanneliseisobel
243                            martinlevi
244                      martinjoseiidaet
245                   mathesonwayneedward
246                       mayaaronmichael
247                        mayoricky(ric)
248                     mcaleerdeanmartin
249                  mcallisterbrettallan
250                 mcclaychristopherjohn
251             mccormackkanegordongeorge
252                        mcgrathstephen
253                     mcgregorcraigalan
254                           mcleodieuan
255                           mcleodieuan
256                      mcleodieuanjames
257                 mcnultystephenpatrick
258                      mcwhajohnfrancis
259                  meadbenjamingeoffrey
260                       mendazareynaldo
261                  menoranthony(mentos)
262               milcapabloherrera(paul)
263                         millersamneil
264                     millerkrystalmary
265                     millerwaydeconroy
266                     milnerjameshohepa
267                  moginiemichaelrobert
268                  moginiemichaelrobert
269                           molnarkitti
270              monleonsebastian(jhunex)
271                        monteropaulina
272                       mooredavidwayne
273          moralesjrrufinotiongco(fino)
274                 morganstephenjonathan
275                       moylejohndennis
276                     munroroberttaylor
277                     munroroberttaylor
278                  murphyanthonyfrancis
279                    murrayanthonykevin
280                     murrayandrewjames
281                            mutucariel
282                        navalesantonio
283                  neilsonsimonmcgregor
284                nesdaleseathmorganjohn
285                   ngahiwistevenkamana
286                      ngataijakewiremu
287                            ngataiwill
288                       ngataiwilljames
289                           novelapeter
290                o'shaughnessycornelius
291                        o'briensiewlee
292                       o'mearawandamay
293               ordonezjohnjohnbalderas
294                      osikaijoshualuke
295              ottleymitchellpeterjames
296       palabasanbrentfordvenzon(brent)
297                  paltridgedanieljason
298                           palunasjohn
299                   paragpriyaelizabeth
300                   paragpriyaelizabeth
301                    pardoeryanmitchell
302                      parkmicallehaley
303                           parkerdavid
304                    parkinsongavinpaul
305                      pascophillipjohn
306                     patersonkevinjohn
307                        pecktessagrace
308                      petriejeremyhale
309                           phelanbrian
310                   phillipstimharrison
311                     plummerjohnarthur
312                       powelltaniaanne
313                  proutingkevinstanley
314                   punivaijosephfilipe
315                   quindalaalvispepito
316                      ramsay-boydregan
317                           reddykeshow
318                    reithoferkatharina
319                   reynoldsjaredgraham
320                       rhodesrongordon
321                            riveraelon
322              robertsonrebeccamargaret
323            robinsonnigelthomaswharaki
324                  rochaarmandobadiable
325                              roymario
326                       ryanconnorinnes
327                          samsonjeorge
328                     sangkopfranciscus
329                   sangsterjoelmichael
330                   sangsterjoelmichael
331                   sangsterjoelmichael
332                        saunderstrevor
333          saysoneubertobayutas(sayson)
334                       schippersdennis
335                       schippersdennis
336                        scottjadenluke
337                         searlematthew
338                        settlejabeeric
339                    settletamsynmyring
340                          shawmarkjohn
341                     silguerrarodentio
342          siroyronquillonunula(ronkey)
343                skinnerjonathanstephen
344                        smallterryivan
345               smeeleolivialouisemason
346               smeeleolivialouisemason
347                       smithwaynedavid
348                 smithiesjohnfrederick
349                  solimanjuanito(lito)

In [ ]:
south_waged.columns

Index(['Name', 'Start Date', 'Department', 'Employment  Status',
       'Salary/ Wage', 'Hours Worked', 'Birth Date', 'Occupation', 'Ethnicity',
       'Visa Type', 'Visa Duration', 'Visa Expiry', 'EstimatedFixedTermExpiry',
       'FixedTermAgreement', 'Fixed Term Expiry', 'Gender', 'Status',
       'Name_Key', 'Employee Full Name', ' Sick/Special Leave Balance',
       ' Holidays Balance', 'Finish Date', 'Region'],
      dtype='object')

In [ ]:
#concatenate north and south for waged
waged = pd.concat([south_waged,north_waged])
waged.head()

,Name,Start Date,Department,Employment Status,Salary/ Wage,Hours Worked,Birth Date,Occupation,Ethnicity,Visa Type,...,FixedTermAgreement,Fixed Term Expiry,Gender,Status,Name_Key,Employee Full Name,Sick/Special Leave Balance,Holidays Balance,Finish Date,Region
0,"Abadinas, Jose Jr Garong",2018-01-15 00:00:00,1 - Leighs Christchurch,Permanent,Wage,40.0,1971-01-15 00:00:00,Leading Hand,...,...,...,NaN,NaN,NaN,Inactive,abadinasjosejrgarong,NaN,NaN,NaN,2021-07-30 00:00:00,South Island
1,"Abelanes, George Ferrer",2014-09-29 00:00:00,1 - Leighs Christchurch,Permanent,Wage,40.0,1974-07-29 00:00:00,Carpenter,...,...,...,NaN,NaN,NaN,Inactive,abelanesgeorgeferrer,NaN,NaN,NaN,2023-01-27 00:00:00,South Island
2,"Abraas, Vincent Antony",2017-11-27 00:00:00,1 - Leighs Christchurch,Casual,Wage,40.0,2001-11-01 00:00:00,Casual Labourer,...,...,...,NaN,NaN,NaN,Inactive,abraasvincentantony,NaN,NaN,NaN,2018-04-24 00:00:00,South Island
3,"Adamson, Jason Philip",2008-06-03 00:00:00,1 - Leighs Christchurch,Permanent,Wage,40.0,1977-07-05 00:00:00,Construction Worker,...,...,...,NaN,NaN,NaN,Inactive,adamsonjasonphilip,NaN,NaN,NaN,2009-08-12 00:00:00,South Island
4,"Adlaon, Arthur Prieto",2012-09-27 00:00:00,1 - Leighs Christchurch,Permanent,Wage,40.0,1970-03-24 00:00:00,Carpenter,...,...,...,NaN,NaN,NaN,Inactive,adlaonarthurprieto,NaN,NaN,NaN,2022-09-06 00:00:00,South Island

In [ ]:
#fixed term dates not parsed 
#join for leave balances not working
missing_info(waged)
#missing_info(waged.query("Status == 'Active'"))
#waged.to_csv("waged_check.csv")

                             missing_count  missing_ratio
Name                                     0       0.000000
Start Date                               0       0.000000
Department                               0       0.000000
Employment  Status                       0       0.000000
Salary/ Wage                             0       0.000000
Hours Worked                             0       0.000000
Birth Date                              10       0.012346
Occupation                               0       0.000000
Ethnicity                                0       0.000000
Visa Type                                0       0.000000
Visa Duration                            0       0.000000
Visa Expiry                            810       1.000000
EstimatedFixedTermExpiry               810       1.000000
FixedTermAgreement                     810       1.000000
Fixed Term Expiry                      810       1.000000
Gender                                 810       1.000000
Status                                   0       0.000000
Name_Key                                 0       0.000000
Employee Full Name                     810       1.000000
 Sick/Special Leave Balance            810       1.000000
 Holidays Balance                      810       1.000000
Finish Date                              0       0.000000
Region                                   0       0.000000

In [ ]:
missing_info(waged.query("Status != 'Active'"))

                             missing_count  missing_ratio
Name                                     0       0.000000
Start Date                               0       0.000000
Department                               0       0.000000
Employment  Status                       0       0.000000
Salary/ Wage                             0       0.000000
Hours Worked                             0       0.000000
Birth Date                              10       0.012346
Occupation                               0       0.000000
Ethnicity                                0       0.000000
Visa Type                                0       0.000000
Visa Duration                            0       0.000000
Visa Expiry                            810       1.000000
EstimatedFixedTermExpiry               810       1.000000
FixedTermAgreement                     810       1.000000
Fixed Term Expiry                      810       1.000000
Gender                                 810       1.000000
Status                                   0       0.000000
Name_Key                                 0       0.000000
Employee Full Name                     810       1.000000
 Sick/Special Leave Balance            810       1.000000
 Holidays Balance                      810       1.000000
Finish Date                              0       0.000000
Region                                   0       0.000000

In [ ]:
waged.info()

<class 'pandas.core.frame.DataFrame'>
Index: 958 entries, 0 to 404
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Name                         958 non-null    object
 1   Start Date                   958 non-null    object
 2   Department                   958 non-null    object
 3   Employment  Status           958 non-null    object
 4   Salary/ Wage                 958 non-null    object
 5   Hours Worked                 958 non-null    float64
 6   Birth Date                   948 non-null    object
 7   Occupation                   958 non-null    object
 8   Ethnicity                    958 non-null    object
 9   Visa Type                    958 non-null    object
 10  Visa Duration                958 non-null    object
 11  Visa Expiry                  24 non-null     object
 12  EstimatedFixedTermExpiry     148 non-null    object
 13  FixedTermAgreement           148 non-null    object
 14  Fixed Term Expiry            0 non-null      datetime64[ns]
 15  Gender                       148 non-null    object
 16  Status                       958 non-null    object
 17  Name_Key                     958 non-null    object
 18  Employee Full Name           0 non-null      object
 19   Sick/Special Leave Balance  0 non-null      float64
 20   Holidays Balance            0 non-null      float64
 21  Finish Date                  810 non-null    object
 22  Region                       958 non-null    object
dtypes: datetime64[ns](1), float64(3), object(19)
memory usage: 179.6+ KB

In [ ]:

print("="*50)
print("South Salaried")
south_salaried_file,leave_balances_file,terminated_file = separate_files(most_recent_records,south_or_north="IsSouth",salaried_or_waged="IsSalaries")
south_salaried = files_to_dataframe(south_salaried_file,leave_balances_file,terminated_file)
add_region(south_salaried,"South Island")

get_info(south_salaried)

==================================================
South Salaried
(74, 16)
main file read successfully!
Index(['Name', 'Start Date', 'Department', 'Employment  Status',
       'Salary/ Wage', 'Hours Worked', 'Birth Date', 'Occupation', 'Ethnicity',
       'Visa Type', 'Visa Duration', 'Visa Expiry', 'EstimatedFixedTermExpiry',
       'FixedTermAgreement', 'Fixed Term Expiry', 'Gender'],
      dtype='object')
leave file read successfully!
Index(['Employee Full Name', ' Sick/Special Leave Balance',
       ' Holidays Balance'],
      dtype='object')
(93, 3)
terminated file read successfully!
(405, 13)
Index(['Name', 'Start Date', 'Department', 'Employment  Status',
       'Salary/ Wage', 'Hours Worked', 'Birth Date', 'Occupation',
       'Finish Date', 'Ethnicity', 'Visa Duration', 'Visa Type',
       'Fixed Term Expiry'],
      dtype='object')
==================================================
(479, 23)
                                         Name           Start Date  \
0  Abad, Arnold Sanguyo                        2012-09-27 00:00:00
1  Acantilado, Richel                          2015-01-08 00:00:00
2  Adlaon, Arthur Prieto                       2022-10-13 00:00:00
3  Algar, Roy Anthony                          2011-09-12 00:00:00
4  Anderson, Liam James                        2022-08-29 00:00:00

                 Department Employment  Status Salary/ Wage  Hours Worked  \
0  22 - Projects Operations          Permanent     Wage              40.0
1  22 - Projects Operations          Permanent     Wage              40.0
2  22 - Projects Operations          Permanent     Wage              46.5
3  25 - Projects Management          Permanent     Wage              45.0
4  25 - Projects Management          Permanent     Wage              45.0

            Birth Date                           Occupation  \
0  1977-10-08 00:00:00  Leading Hand
1  1977-01-24 00:00:00  Carpenter
2  1970-03-24 00:00:00  Carpenter
3  1973-12-02 00:00:00  Site Supervisor
4  1989-07-31 00:00:00  Site Supervisor

                                           Ethnicity  \
0                                                ...
1                                                ...
2                                                ...
3                                                ...
4  NZ European                                   ...

                                           Visa Type  ... FixedTermAgreement  \
0  Resident Visa                                 ...  ...              False
1  Resident Visa                                 ...  ...              False
2  Resident Visa                                 ...  ...              False
3                                                ...  ...              False
4                                                ...  ...              False

  Fixed Term Expiry          Gender  Status            Name_Key  \
0               NaT  Male            Active   abadarnoldsanguyo
1               NaT  Male            Active    acantiladorichel
2               NaT  Male            Active  adlaonarthurprieto
3               NaT  Male            Active     algarroyanthony
4               NaT  Male            Active   andersonliamjames

  Employee Full Name  Sick/Special Leave Balance  Holidays Balance  \
0                NaN                         NaN               NaN
1                NaN                         NaN               NaN
2                NaN                         NaN               NaN
3                NaN                         NaN               NaN
4                NaN                         NaN               NaN

  Finish Date        Region
0         NaN  South Island
1         NaN  South Island
2         NaN  South Island
3         NaN  South Island
4         NaN  South Island

[5 rows x 23 columns]

<class 'pandas.core.frame.DataFrame'>
Index: 479 entries, 0 to 404
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Name                         479 non-null    object
 1   Start Date                   479 non-null    object
 2   Department                   479 non-null    object
 3   Employment  Status           479 non-null    object
 4   Salary/ Wage                 479 non-null    object
 5   Hours Worked                 479 non-null    float64
 6   Birth Date                   474 non-null    object
 7   Occupation                   479 non-null    object
 8   Ethnicity                    479 non-null    object
 9   Visa Type                    479 non-null    object
 10  Visa Duration                479 non-null    object
 11  Visa Expiry                  12 non-null     object
 12  EstimatedFixedTermExpiry     74 non-null     object
 13  FixedTermAgreement           74 non-null     object
 14  Fixed Term Expiry            0 non-null      datetime64[ns]
 15  Gender                       74 non-null     object
 16  Status                       479 non-null    object
 17  Name_Key                     479 non-null    object
 18  Employee Full Name           0 non-null      object
 19   Sick/Special Leave Balance  0 non-null      float64
 20   Holidays Balance            0 non-null      float64
 21  Finish Date                  405 non-null    object
 22  Region                       479 non-null    object
dtypes: datetime64[ns](1), float64(3), object(19)
memory usage: 89.8+ KB
None

==================================================

In [ ]:
print("="*50)
print("North Salaried")
north_salaried_file,leave_balances_file,terminated_file = separate_files(most_recent_records,south_or_north="IsNorth",salaried_or_waged="IsSalaries")
north_salaried = files_to_dataframe(north_salaried_file,leave_balances_file,terminated_file)

add_region(north_salaried,"North Island")
get_info(north_salaried)

==================================================
North Salaried
(74, 16)
main file read successfully!
Index(['Name', 'Start Date', 'Department', 'Employment  Status',
       'Salary/ Wage', 'Hours Worked', 'Birth Date', 'Occupation', 'Ethnicity',
       'Visa Type', 'Visa Duration', 'Visa Expiry', 'EstimatedFixedTermExpiry',
       'FixedTermAgreement', 'Fixed Term Expiry', 'Gender'],
      dtype='object')
leave file read successfully!
Index(['Employee Full Name', ' Sick/Special Leave Balance',
       ' Holidays Balance'],
      dtype='object')
(93, 3)
terminated file read successfully!
(405, 13)
Index(['Name', 'Start Date', 'Department', 'Employment  Status',
       'Salary/ Wage', 'Hours Worked', 'Birth Date', 'Occupation',
       'Finish Date', 'Ethnicity', 'Visa Duration', 'Visa Type',
       'Fixed Term Expiry'],
      dtype='object')
==================================================
(479, 23)
                                         Name           Start Date  \
0  Abad, Arnold Sanguyo                        2012-09-27 00:00:00
1  Acantilado, Richel                          2015-01-08 00:00:00
2  Adlaon, Arthur Prieto                       2022-10-13 00:00:00
3  Algar, Roy Anthony                          2011-09-12 00:00:00
4  Anderson, Liam James                        2022-08-29 00:00:00

                 Department Employment  Status Salary/ Wage  Hours Worked  \
0  22 - Projects Operations          Permanent     Wage              40.0
1  22 - Projects Operations          Permanent     Wage              40.0
2  22 - Projects Operations          Permanent     Wage              46.5
3  25 - Projects Management          Permanent     Wage              45.0
4  25 - Projects Management          Permanent     Wage              45.0

            Birth Date                           Occupation  \
0  1977-10-08 00:00:00  Leading Hand
1  1977-01-24 00:00:00  Carpenter
2  1970-03-24 00:00:00  Carpenter
3  1973-12-02 00:00:00  Site Supervisor
4  1989-07-31 00:00:00  Site Supervisor

                                           Ethnicity  \
0                                                ...
1                                                ...
2                                                ...
3                                                ...
4  NZ European                                   ...

                                           Visa Type  ... FixedTermAgreement  \
0  Resident Visa                                 ...  ...              False
1  Resident Visa                                 ...  ...              False
2  Resident Visa                                 ...  ...              False
3                                                ...  ...              False
4                                                ...  ...              False

  Fixed Term Expiry          Gender  Status            Name_Key  \
0               NaT  Male            Active   abadarnoldsanguyo
1               NaT  Male            Active    acantiladorichel
2               NaT  Male            Active  adlaonarthurprieto
3               NaT  Male            Active     algarroyanthony
4               NaT  Male            Active   andersonliamjames

  Employee Full Name  Sick/Special Leave Balance  Holidays Balance  \
0                NaN                         NaN               NaN
1                NaN                         NaN               NaN
2                NaN                         NaN               NaN
3                NaN                         NaN               NaN
4                NaN                         NaN               NaN

  Finish Date        Region
0         NaN  North Island
1         NaN  North Island
2         NaN  North Island
3         NaN  North Island
4         NaN  North Island

[5 rows x 23 columns]

<class 'pandas.core.frame.DataFrame'>
Index: 479 entries, 0 to 404
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Name                         479 non-null    object
 1   Start Date                   479 non-null    object
 2   Department                   479 non-null    object
 3   Employment  Status           479 non-null    object
 4   Salary/ Wage                 479 non-null    object
 5   Hours Worked                 479 non-null    float64
 6   Birth Date                   474 non-null    object
 7   Occupation                   479 non-null    object
 8   Ethnicity                    479 non-null    object
 9   Visa Type                    479 non-null    object
 10  Visa Duration                479 non-null    object
 11  Visa Expiry                  12 non-null     object
 12  EstimatedFixedTermExpiry     74 non-null     object
 13  FixedTermAgreement           74 non-null     object
 14  Fixed Term Expiry            0 non-null      datetime64[ns]
 15  Gender                       74 non-null     object
 16  Status                       479 non-null    object
 17  Name_Key                     479 non-null    object
 18  Employee Full Name           0 non-null      object
 19   Sick/Special Leave Balance  0 non-null      float64
 20   Holidays Balance            0 non-null      float64
 21  Finish Date                  405 non-null    object
 22  Region                       479 non-null    object
dtypes: datetime64[ns](1), float64(3), object(19)
memory usage: 89.8+ KB
None

==================================================

In [ ]:
north_salaried

,Name,Start Date,Department,Employment Status,Salary/ Wage,Hours Worked,Birth Date,Occupation,Ethnicity,Visa Type,...,FixedTermAgreement,Fixed Term Expiry,Gender,Status,Name_Key,Employee Full Name,Sick/Special Leave Balance,Holidays Balance,Finish Date,Region
0,"Abad, Arnold Sanguyo",2012-09-27 00:00:00,22 - Projects Operations,Permanent,Wage,40.0,1977-10-08 00:00:00,Leading Hand,...,Resident Visa ...,...,False,NaT,Male,Active,abadarnoldsanguyo,NaN,NaN,NaN,NaN,North Island
1,"Acantilado, Richel",2015-01-08 00:00:00,22 - Projects Operations,Permanent,Wage,40.0,1977-01-24 00:00:00,Carpenter,...,Resident Visa ...,...,False,NaT,Male,Active,acantiladorichel,NaN,NaN,NaN,NaN,North Island
2,"Adlaon, Arthur Prieto",2022-10-13 00:00:00,22 - Projects Operations,Permanent,Wage,46.5,1970-03-24 00:00:00,Carpenter,...,Resident Visa ...,...,False,NaT,Male,Active,adlaonarthurprieto,NaN,NaN,NaN,NaN,North Island
3,"Algar, Roy Anthony",2011-09-12 00:00:00,25 - Projects Management,Permanent,Wage,45.0,1973-12-02 00:00:00,Site Supervisor,...,...,...,False,NaT,Male,Active,algarroyanthony,NaN,NaN,NaN,NaN,North Island
4,"Anderson, Liam James",2022-08-29 00:00:00,25 - Projects Management,Permanent,Wage,45.0,1989-07-31 00:00:00,Site Supervisor,NZ European ...,...,...,False,NaT,Male,Active,andersonliamjames,NaN,NaN,NaN,NaN,North Island
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
400,"Woodhead, Scott Jeremy",2011-03-01 00:00:00,1 - Leighs Christchurch,Permanent,Wage,40.0,1990-08-08 00:00:00,Construction Worker,...,...,...,NaN,NaT,NaN,Inactive,woodheadscottjeremy,NaN,NaN,NaN,2011-03-23 00:00:00,North Island
401,"Woodhead, Scott Jeremy",2010-11-17 00:00:00,1 - Leighs Christchurch,Permanent,Wage,40.0,1990-08-08 00:00:00,Construction Worker,...,...,...,NaN,NaT,NaN,Inactive,woodheadscottjeremy,NaN,NaN,NaN,2011-02-23 00:00:00,North Island
402,"Wright, Daryl",2013-07-16 00:00:00,1 - Leighs Christchurch,Permanent,Wage,40.0,1985-03-22 00:00:00,Leading Hand,...,...,...,NaN,NaT,NaN,Inactive,wrightdaryl,NaN,NaN,NaN,2015-12-16 00:00:00,North Island
403,"Youngs, Andrew Jonathan",2013-09-02 00:00:00,1 - Leighs Christchurch,Permanent,Wage,40.0,1968-04-06 00:00:00,Leading Hand,...,...,...,NaN,NaT,NaN,Inactive,youngsandrewjonathan,NaN,NaN,NaN,2014-01-22 00:00:00,North Island
404,"Yung, Nellie",2018-11-19 00:00:00,1 - Leighs Christchurch,Permanent,Wage,40.0,1998-07-29 00:00:00,Engineering Intern,...,...,...,NaN,NaT,NaN,Inactive,yungnellie,NaN,NaN,NaN,2019-02-15 00:00:00,North Island

In [ ]:
#concatenate north and south for salaried
salaried = pd.concat([south_salaried,north_salaried])
salaried.head()

,Name,Start Date,Department,Employment Status,Salary/ Wage,Hours Worked,Birth Date,Occupation,Ethnicity,Visa Type,...,FixedTermAgreement,Fixed Term Expiry,Gender,Status,Name_Key,Employee Full Name,Sick/Special Leave Balance,Holidays Balance,Finish Date,Region
0,"Abad, Arnold Sanguyo",2012-09-27 00:00:00,22 - Projects Operations,Permanent,Wage,40.0,1977-10-08 00:00:00,Leading Hand,...,Resident Visa ...,...,False,NaT,Male,Active,abadarnoldsanguyo,NaN,NaN,NaN,NaN,South Island
1,"Acantilado, Richel",2015-01-08 00:00:00,22 - Projects Operations,Permanent,Wage,40.0,1977-01-24 00:00:00,Carpenter,...,Resident Visa ...,...,False,NaT,Male,Active,acantiladorichel,NaN,NaN,NaN,NaN,South Island
2,"Adlaon, Arthur Prieto",2022-10-13 00:00:00,22 - Projects Operations,Permanent,Wage,46.5,1970-03-24 00:00:00,Carpenter,...,Resident Visa ...,...,False,NaT,Male,Active,adlaonarthurprieto,NaN,NaN,NaN,NaN,South Island
3,"Algar, Roy Anthony",2011-09-12 00:00:00,25 - Projects Management,Permanent,Wage,45.0,1973-12-02 00:00:00,Site Supervisor,...,...,...,False,NaT,Male,Active,algarroyanthony,NaN,NaN,NaN,NaN,South Island
4,"Anderson, Liam James",2022-08-29 00:00:00,25 - Projects Management,Permanent,Wage,45.0,1989-07-31 00:00:00,Site Supervisor,NZ European ...,...,...,False,NaT,Male,Active,andersonliamjames,NaN,NaN,NaN,NaN,South Island

In [ ]:
salaried.info()

<class 'pandas.core.frame.DataFrame'>
Index: 958 entries, 0 to 404
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Name                         958 non-null    object
 1   Start Date                   958 non-null    object
 2   Department                   958 non-null    object
 3   Employment  Status           958 non-null    object
 4   Salary/ Wage                 958 non-null    object
 5   Hours Worked                 958 non-null    float64
 6   Birth Date                   948 non-null    object
 7   Occupation                   958 non-null    object
 8   Ethnicity                    958 non-null    object
 9   Visa Type                    958 non-null    object
 10  Visa Duration                958 non-null    object
 11  Visa Expiry                  24 non-null     object
 12  EstimatedFixedTermExpiry     148 non-null    object
 13  FixedTermAgreement           148 non-null    object
 14  Fixed Term Expiry            0 non-null      datetime64[ns]
 15  Gender                       148 non-null    object
 16  Status                       958 non-null    object
 17  Name_Key                     958 non-null    object
 18  Employee Full Name           0 non-null      object
 19   Sick/Special Leave Balance  0 non-null      float64
 20   Holidays Balance            0 non-null      float64
 21  Finish Date                  810 non-null    object
 22  Region                       958 non-null    object
dtypes: datetime64[ns](1), float64(3), object(19)
memory usage: 179.6+ KB

### Combining salaried and waged data

In [ ]:

mismatch=False
for s,w in zip(salaried.columns,waged.columns):
    if s != w:
        mismatch=True
        
if mismatch: 
    print("There is a mismatch of columns, please reorder appropriately")
    raise ValueError()
else:
    print("No Column Mismatch, can combine waged and salaried!")

No Column Mismatch, can combine waged and salaried!

In [ ]:
employee_data = pd.concat([salaried,waged])

#drop name key and employee full name
employee_data.drop(columns=["Employee Full Name","Name_Key"],inplace=True)

#add a last updated column

employee_data["Data Last Updated At"] = dt.utcnow()

get_info(employee_data)

==================================================
(1916, 22)
                                         Name           Start Date  \
0  Abad, Arnold Sanguyo                        2012-09-27 00:00:00
1  Acantilado, Richel                          2015-01-08 00:00:00
2  Adlaon, Arthur Prieto                       2022-10-13 00:00:00
3  Algar, Roy Anthony                          2011-09-12 00:00:00
4  Anderson, Liam James                        2022-08-29 00:00:00

                 Department Employment  Status Salary/ Wage  Hours Worked  \
0  22 - Projects Operations          Permanent     Wage              40.0
1  22 - Projects Operations          Permanent     Wage              40.0
2  22 - Projects Operations          Permanent     Wage              46.5
3  25 - Projects Management          Permanent     Wage              45.0
4  25 - Projects Management          Permanent     Wage              45.0

            Birth Date                           Occupation  \
0  1977-10-08 00:00:00  Leading Hand
1  1977-01-24 00:00:00  Carpenter
2  1970-03-24 00:00:00  Carpenter
3  1973-12-02 00:00:00  Site Supervisor
4  1989-07-31 00:00:00  Site Supervisor

                                           Ethnicity  \
0                                                ...
1                                                ...
2                                                ...
3                                                ...
4  NZ European                                   ...

                                           Visa Type  ...  \
0  Resident Visa                                 ...  ...
1  Resident Visa                                 ...  ...
2  Resident Visa                                 ...  ...
3                                                ...  ...
4                                                ...  ...

  EstimatedFixedTermExpiry FixedTermAgreement Fixed Term Expiry  \
0                    False              False               NaT
1                    False              False               NaT
2                    False              False               NaT
3                    False              False               NaT
4                    False              False               NaT

           Gender  Status  Sick/Special Leave Balance  Holidays Balance  \
0  Male            Active                         NaN               NaN
1  Male            Active                         NaN               NaN
2  Male            Active                         NaN               NaN
3  Male            Active                         NaN               NaN
4  Male            Active                         NaN               NaN

   Finish Date        Region       Data Last Updated At
0          NaN  South Island 2024-05-01 03:50:36.429154
1          NaN  South Island 2024-05-01 03:50:36.429154
2          NaN  South Island 2024-05-01 03:50:36.429154
3          NaN  South Island 2024-05-01 03:50:36.429154
4          NaN  South Island 2024-05-01 03:50:36.429154

[5 rows x 22 columns]

<class 'pandas.core.frame.DataFrame'>
Index: 1916 entries, 0 to 404
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Name                         1916 non-null   object
 1   Start Date                   1916 non-null   object
 2   Department                   1916 non-null   object
 3   Employment  Status           1916 non-null   object
 4   Salary/ Wage                 1916 non-null   object
 5   Hours Worked                 1916 non-null   float64
 6   Birth Date                   1896 non-null   object
 7   Occupation                   1916 non-null   object
 8   Ethnicity                    1916 non-null   object
 9   Visa Type                    1916 non-null   object
 10  Visa Duration                1916 non-null   object
 11  Visa Expiry                  48 non-null     object
 12  EstimatedFixedTermExpiry     296 non-null    object
 13  FixedTermAgreement           296 non-null    object
 14  Fixed Term Expiry            0 non-null      datetime64[ns]
 15  Gender                       296 non-null    object
 16  Status                       1916 non-null   object
 17   Sick/Special Leave Balance  0 non-null      float64
 18   Holidays Balance            0 non-null      float64
 19  Finish Date                  1620 non-null   object
 20  Region                       1916 non-null   object
 21  Data Last Updated At         1916 non-null   datetime64[us]
dtypes: datetime64[ns](1), datetime64[us](1), float64(3), object(17)
memory usage: 344.3+ KB
None

==================================================

C:\Users\alex.jefferies\AppData\Local\Temp\ipykernel_28088\1332053743.py:8: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  employee_data["Data Last Updated At"] = dt.utcnow()

In [ ]:
missing_info(employee_data)
#fixed term expiry still not parsing
#holiday and sick leave not joining

                             missing_count  missing_ratio
Name                                     0       0.000000
Start Date                               0       0.000000
Department                               0       0.000000
Employment  Status                       0       0.000000
Salary/ Wage                             0       0.000000
Hours Worked                             0       0.000000
Birth Date                              20       0.010438
Occupation                               0       0.000000
Ethnicity                                0       0.000000
Visa Type                                0       0.000000
Visa Duration                            0       0.000000
Visa Expiry                           1868       0.974948
EstimatedFixedTermExpiry              1620       0.845511
FixedTermAgreement                    1620       0.845511
Fixed Term Expiry                     1916       1.000000
Gender                                1620       0.845511
Status                                   0       0.000000
 Sick/Special Leave Balance           1916       1.000000
 Holidays Balance                     1916       1.000000
Finish Date                            296       0.154489
Region                                   0       0.000000
Data Last Updated At                     0       0.000000

### Exporting tidied data to file for use in powerBI

In [ ]:
#reset index on table
employee_data.reset_index(drop=True,inplace=True)

In [ ]:
employee_data.to_csv('employee_data_tidy.csv')
print("Data Cleaned successfully!")

Data Cleaned successfully!

In [ ]:
#change back to data analytics directory. Add a copy of data to make the active version 
os.chdir(r"C:\Users\alex.jefferies\Leighs Construction Limited\Data Analytics - Documents\General\Projects\HR\People Dashboard")
employee_data.to_csv('employee_data_tidy_active.csv')
print("Data Copied successfully!")

Data Copied successfully!

In [ ]:
#render table as html
table_to_html(employee_data)